body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.twitch-stream-container {
	width: 60%;
	margin: 0 20% 0 20%;
}

.twitch-search-container {
	display: flex;
}

/*buttons*/
.twitch-search-container button {
	cursor: pointer;
	font-size: inherit;
	padding: 5px 10px;
	margin: 0 10px 0 10px;
	border: none;
	color: white;
	background-color: purple;
}

/*input*/
.twitch-search-container input {
	width: 25%;
	height: 20px;
}

/*
	header css 
*/
.twitch-results-header {
	display: flex;
}

.twitch-results-header .twitch-pager {
	float: right;
}

.twitch-results-container {
	margin: 20px 0 0 0;
}

.twitch-video {
	display: flex;
	padding: 10px 0 10px 0;
}
.twitch-video .twitch-video-info {
	display: flex;
	flex-direction: column;
	padding: 0 0 0 10px;
}

.twitch-video .twitch-video-info h3 {
	margin: 0;
}

/* media queries */

/*ipad*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.twitch-stream-container {
		width: 90%;
		margin: 0 5% 0 5%;
	}
} 

/*iphone5 and iphone5+*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
	.twitch-stream-container {
		width: 90%;
		margin: 0 5% 0 5%;
		font-size: 2em;
	}

	.twitch-search-container input {
		width: 40%;
		height:	50px;
		font-size: inherit;
	}

	.twitch-search-container button {
		cursor: pointer;
		margin: 0 50px 0 50px;
	}
}